* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  position: relative;
  width: 1773px;
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Regular.ttf);
}
header {
  display: flex;
  align-items: center;
  position: relative;
  height: 93px;
  margin: 30px 19px 35px 12px;
}
header .logo {
  width: 255px;
  height: 57px;
  margin-left: 41px;
  cursor: pointer;
}
header span {
  margin-left: 62px;
  width: 385px;
  height: 50px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  color: #FFFFFF;
}
header .searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 73px 8.47px 23px;
  width: 476px;
  height: 50px;
  margin-left: 25px;
  margin-right: 103px;
  background: #FFFFFF;
  border-radius: 15px;
}
header .searchbar .search {
  border: none;
  font-size: 25px;
  width: 160px;
  margin: 15px 243px 15px 15.09px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
header .searchbar .search::placeholder {
  color: #000000;
  opacity: 1;
}
header .bell {
  width: 37px;
  height: 41.03px;
  cursor: pointer;
}
header .profil {
  position: absolute;
  right: 0;
  top: 24px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 20.7% 53.8% 25.5%;
}
main .col-gauche {
  grid-column: 1/2;
  padding: 0 22px 0 22px;
  display: flex;
  flex-direction: column;
}
main .col-gauche .dashboard {
  display: flex;
  justify-content: center;
  margin-top: 92px;
}
main .col-gauche .btn-dashboard {
  display: flex;
  align-items: center;
  padding: 13px 29px;
  gap: 17px;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  width: 253px;
  height: 65px;
  cursor: pointer;
}
main .col-gauche .btn-dashboard img {
  width: 44px;
  height: 45px;
}
main .col-gauche .btn-dashboard span {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}
main .col-gauche .menu-dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  gap: 18px;
}
main .col-gauche .menu-dashboard div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 45.5px;
}
main .col-gauche .menu-dashboard div img {
  width: 44px;
  height: 44px;
  color: rgba(255, 255, 255, 0.8);
}
main .col-gauche .menu-dashboard div span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
main .col-gauche .btn-logout {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 14px 0px 14px 11px;
  position: absolute;
  bottom: 27px;
  left: 76px;
}
main .col-gauche .btn-logout img {
  width: 40px;
  height: 35px;
}
main .col-gauche .btn-logout span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}
main .col-centre {
  grid-column: 2/3;
}
main .col-centre .top-bloc {
  display: flex;
  align-items: center;
  gap: 91px;
  color: #FFFFFF;
}
main .col-centre .top-bloc .bloc-gauche .balance {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 22px;
  line-height: 33px;
  opacity: 0.8;
  margin-bottom: 21px;
}
main .col-centre .top-bloc .bloc-gauche div {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 10px;
}
main .col-centre .top-bloc .bloc-gauche div p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
}
main .col-centre .top-bloc .bloc-gauche div span {
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 4px 9px 7px 9px;
  background-color: #FAFF00;
  border-radius: 8px;
}
main .col-centre .top-bloc .bloc-gauche p:last-child {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  opacity: 0.7;
}
main .col-centre .top-bloc .bloc-droit {
  padding: 11px 19px 7px 19px;
  background-color: #292727;
  border-radius: 17px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
main .col-centre .top-bloc .bloc-droit span:first-child {
  padding: 5.5px 22px;
  background: #0D0C0C;
  border-radius: 17px;
}
main .col-centre .bloc-graphique {
  margin: 30px 0 21px 0;
  padding: 30px 36px 64px 40px;
  background-color: rgba(48, 53, 65, 0.67);
  border-radius: 30px;
  height: 558px;
  width: 100%;
  color: #FFFFFF;
}
main .col-centre .bloc-graphique .top-row {
  display: flex;
  justify-content: space-between;
}
main .col-centre .bloc-graphique .top-row .date-options {
  display: flex;
  align-items: center;
}
main .col-centre .bloc-graphique .top-row .date-options span, main .col-centre .bloc-graphique .top-row .date-options img {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #000000;
  margin-right: 10px;
}
main .col-centre .bloc-graphique .top-row .date-options img {
  padding: 9px;
}
main .col-centre .bloc-graphique .top-row .switch-bloc {
  display: flex;
  gap: 13px;
}
main .col-centre .bloc-graphique .top-row .switch-bloc div {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #000000;
  padding: 3px 18px 3px 11px;
}
main .col-centre .bloc-graphique .top-row .switch-bloc div span {
  opacity: 0.7;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
}
main .col-centre .bloc-graphique .top-row .switch-bloc div img:first-child {
  width: 30px;
  height: 30px;
}
main .col-centre .bloc-graphique .middle-row {
  display: flex;
  padding: 18px 0;
}
main .col-centre .bloc-graphique .middle-row #numbers-col {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  padding-left: 7px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}
main .col-centre .bloc-graphique .middle-row .graphique {
  position: relative;
  width: 100%;
}
main .col-centre .bloc-graphique .middle-row .graphique img {
  max-width: 100%;
}
main .col-centre .bloc-graphique .middle-row .graphique img:first-child {
  z-index: 3;
  position: absolute;
}
main .col-centre .bloc-graphique .middle-row .graphique img:nth-child(2) {
  z-index: 1;
  position: absolute;
  left: 6%;
  top: 10px;
}
main .col-centre .bloc-graphique .middle-row .graphique img:last-child {
  z-index: 2;
  position: absolute;
  right: 15px;
  bottom: 30px;
}
main .col-centre .bloc-graphique #days {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  gap: 19px;
  padding: 0 20px;
}
main .col-centre .bloc-graphique div:last-child {
  display: flex;
  justify-content: center;
}
main .col-centre .recent-t {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
main .col-centre .recent-t div:first-child {
  display: flex;
  justify-content: space-between;
}
main .col-centre .recent-t div:first-child p, main .col-centre .recent-t div:first-child span {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}
main .col-centre .recent-t div:first-child span {
  opacity: 0.7;
}
main .col-centre .recent-t .r-transac {
  width: 100%;
  background: rgba(32, 35, 43, 0.7);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 12px 30px 17px 50px;
}
main .col-centre .recent-t .r-transac img:first-child {
  height: 39px;
  width: 39px;
}
main .col-centre .recent-t .r-transac .courbe {
  width: 143px;
}
main .col-centre .recent-t .r-transac div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
main .col-centre .recent-t .r-transac div span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
main .col-centre .recent-t .r-transac div span:last-child {
  opacity: 0.7;
  font-weight: 600;
}
main .col-centre .recent-t .r-transac .trade {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  background-color: #000000;
  border-radius: 30px;
  padding: 6px 18px;
}
main .col-droite {
  grid-column: 3/4;
  padding: 20px 21px 37px 24px;
}
main .col-droite p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}
main .col-droite .transactions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 41px;
  margin-bottom: 38px;
}
main .col-droite .transactions .transaction {
  display: flex;
  gap: 27px;
  padding: 7px 0px 7px 17px;
}
main .col-droite .transactions .transaction img {
  width: 52px;
  height: 52px;
}
main .col-droite .transactions .transaction span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}
main .col-droite .transactions .transaction .info-transaction {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-right: 13px;
}
main .col-droite .transactions .transaction .info-transaction div {
  display: flex;
  justify-content: space-between;
}
main .col-droite .transactions .transaction .info-transaction div:first-child span:last-child {
  color: #4AD619;
}
main .col-droite .transactions .transaction .info-transaction div:last-child {
  opacity: 0.7;
}
main .col-droite .assets .asset {
  width: 100%;
  border-radius: 30px;
  height: 174px;
  padding: 20px 51px 12px 29px;
}
main .col-droite .assets .asset img {
  width: 70px;
  height: 70px;
}
main .col-droite .assets .asset .title-asset {
  font-family: "Inter";
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}
main .col-droite .assets .asset div {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}
main .col-droite .assets .asset div span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
}
main .col-droite .assets .asset:first-child {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  margin-top: 15px;
  margin-bottom: 28px;
  color: #FFFFFF;
}
main .col-droite .assets .asset:last-child {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
}

/*# sourceMappingURL=style.css.map */
